APP_HOST_PORT=4100

POSTGRES_DB=croms
POSTGRES_USER=croms
POSTGRES_PASSWORD=change-this-db-password

JWT_SECRET=change-this-jwt-secret-to-a-long-random-value

ADMIN_SEED_EMAIL=admin@croms.local
ADMIN_SEED_PASSWORD=change-this-admin-password